version: '3'
services:

 # DB Service
  db:
    image: postgres:14.3
    hostname: db
    restart: unless-stopped
    environment:
      POSTGRES_USER: development
      POSTGRES_PASSWORD: development

  proxy:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    volumes:
      - ./docker/wait:/app/wait:z
      - store:/app/store
    environment:
      PORT: 3000
      ENDPOINT: http://proxy:3000
      ENABLE_STORE: "true"
      REPO_URI: "postgres://development:development@db:5432/development"
      REPO_KEY: insecure
      LOG_LEVEL: DEBUG
      WAIT_BEFORE_HOSTS: 3
      WAIT_HOSTS: reverse-proxy:80, mediator:3000
      WAIT_HOSTS_TIMEOUT: 30
      WAIT_SLEEP_INTERVAL: 1
      WAIT_HOST_CONNECT_TIMEOUT: 10
    entrypoint: /bin/sh -c '/app/wait && python -m proxy_mediator "$$@"' --

  agent:
    image: ghcr.io/hyperledger/aries-cloudagent-python:py3.6-indy-1.16.0-0.8.2
    volumes:
      - indy:/home/indy/.indy_client
    command: >
      start --label agent -it http 0.0.0.0 3000 -ot http -e http://agent:3000
      --no-ledger --admin 0.0.0.0 3001 --admin-insecure-mode
      --debug-connections --auto-accept-invites --auto-accept-requests
      --auto-ping-connection --log-level debug
      --wallet-type indy --wallet-name agent --wallet-key insecure --auto-provision
    ports:
      - 4001:3001

  mediator-tunnel:
    image: dbluhm/agent-tunnel
    command: -s reverse-proxy:80 -p 4040 -h ${AGENT_TUNNEL_HOST}

  reverse-proxy:
    image: nginx
    volumes:
      - ./docker/nginx.conf:/etc/nginx/templates/default.conf.template:z
    environment:
      MEDIATOR: mediator
      HTTP_PORT: 3000
      WS_PORT: 3002
    ports:
      - 8080:80
    depends_on:
      - mediator

  mediator:
    image: ghcr.io/hyperledger/aries-cloudagent-python:py3.6-indy-1.16.0-0.8.2
    volumes:
      - ./docker/acapy-endpoint.sh:/home/indy/acapy-endpoint.sh:z
      - indy:/home/indy/.indy_client
    ports:
      - 4002:3001
    environment:
      - TUNNEL_ENDPOINT=http://mediator-tunnel:4040
    entrypoint: /bin/sh -c './acapy-endpoint.sh aca-py "$$@"' --
    command: >
      start --label agent -it http 0.0.0.0 3000 -it ws 0.0.0.0 3002 -ot http
      --no-ledger --admin 0.0.0.0 3001 --admin-insecure-mode
      --debug-connections --auto-accept-invites --auto-accept-requests
      --auto-ping-connection --log-level debug --open-mediation
      --wallet-type indy --wallet-name mediator --wallet-key insecure --auto-provision

  setup:
    build:
      context: ./docker/setup
    environment:
      - WAIT_BEFORE_HOSTS=3
      - WAIT_HOSTS=proxy:3000,agent:3000
      - WAIT_HOSTS_TIMEOUT=30
      - WAIT_SLEEP_INTERVAL=1
      - WAIT_HOST_CONNECT_TIMEOUT=10
      - PROXY=http://proxy:3000
      - AGENT=http://agent:3001
      - MEDIATOR=http://mediator:3001
    depends_on:
      - proxy
      - agent

volumes:
  store:
  indy:
