version: '3'
services:
  proxy:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    volumes:
      - store:/app/store
    environment:
      PORT: 3000
      ENDPOINT: http://proxy:3000
      ENABLE_STORE: "true"
      REPO_URI: "sqlite:///app/store/db"
      REPO_KEY: insecure
      LOG_LEVEL: DEBUG

  agent:
    image: ghcr.io/hyperledger/aries-cloudagent-python:py3.6-indy-1.16.0-0.8.1
    volumes:
      - indy:/home/indy/.indy_client
    command: >
      start --label agent -it http 0.0.0.0 3000 -ot http -e http://agent:3000
      --no-ledger --admin 0.0.0.0 3001 --admin-insecure-mode
      --debug-connections --auto-accept-invites --auto-accept-requests
      --auto-ping-connection --log-level debug
      --wallet-type indy --wallet-name agent --wallet-key insecure --auto-provision
    ports:
      - 4001:3001

  setup:
    build:
      context: ./docker/setup
    environment:
      - WAIT_BEFORE_HOSTS=3
      - WAIT_HOSTS=proxy:3000,agent:3000
      - WAIT_HOSTS_TIMEOUT=30
      - WAIT_SLEEP_INTERVAL=1
      - WAIT_HOST_CONNECT_TIMEOUT=10
      - PROXY=http://proxy:3000
      - AGENT=http://agent:3001
      - MEDIATOR_INVITE=https://mediator4.test.indiciotech.io/?c_i=eyJAdHlwZSI6ICJkaWQ6c292OkJ6Q2JzTlloTXJqSGlxWkRUVUFTSGc7c3BlYy9jb25uZWN0aW9ucy8xLjAvaW52aXRhdGlvbiIsICJAaWQiOiAiNjdlMWIyYjctZDkwZi00YjBhLTk3OTEtNDkzNjVmNmQ4MDNjIiwgImxhYmVsIjogIkluZGljaW8gTWVkaWF0b3IiLCAicmVjaXBpZW50S2V5cyI6IFsiNlY3SHFKR3hEdTJFM2JFbndWc2F6TEJ1MTRBaXNyNndadVQzSHBnUkVlb2MiXSwgInNlcnZpY2VFbmRwb2ludCI6ICJodHRwczovL21lZGlhdG9yNC50ZXN0LmluZGljaW90ZWNoLmlvOjQ0MyJ9
    depends_on:
      - proxy
      - agent

volumes:
  store:
  indy:
