version: '3'

services:
  proxy:
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
    environment:
      PORT: 3000
      ENDPOINT: http://proxy:3000
      ENABLE_STORE: "true"
      REPO_URI: "sqlite://:memory:"
      REPO_KEY: integration-testing
      LOG_LEVEL: DEBUG

  agent_alice:
    image: ghcr.io/hyperledger/aries-cloudagent-python:py3.6-indy-1.16.0-0.8.2
    command: >
      start --label agent_alice -it http 0.0.0.0 4011 -ot http -e http://agent_alice:4011
      --no-ledger --admin 0.0.0.0 4001 --admin-insecure-mode
      --debug-connections --auto-accept-invites --auto-accept-requests
      --auto-ping-connection --log-level debug
    ports:
      - 4011:4011
      - 4001:4001


  agent_bob:
    image: ghcr.io/hyperledger/aries-cloudagent-python:py3.6-indy-1.16.0-0.8.2
    command: >
      start --label agent_bob -it http 0.0.0.0 4012 -ot http -e http://agent_bob:4012
      --no-ledger --admin 0.0.0.0 4002 --admin-insecure-mode
      --debug-connections --auto-accept-invites --auto-accept-requests
      --auto-ping-connection --log-level debug
    ports:
      - 4012:4012
      - 4002:4002

  external_mediator:
    image: ghcr.io/hyperledger/aries-cloudagent-python:py3.6-indy-1.16.0-0.8.2
    command: >
      start --label external_mediator -it http 0.0.0.0 4013 -it ws 0.0.0.0 3002 -ot http -e http://reverse-proxy
      ws://reverse-proxy/ws --no-ledger --admin 0.0.0.0 4003 --admin-insecure-mode
      --debug-connections --auto-accept-invites --auto-accept-requests
      --auto-ping-connection --log-level debug --open-mediation --enable-undelivered-queue
    ports:
      - 4013:4013
      - 4003:4003

  reverse-proxy:
    image: nginx
    volumes:
      - ../docker/nginx.conf:/etc/nginx/templates/default.conf.template:z
    environment:
      MEDIATOR: external_mediator
      HTTP_PORT: 4013
      WS_PORT: 3002
    ports:
      - 8080:80
    depends_on:
      - external_mediator


  tests:
    container_name: juggernaut
    build:
      context: .
      dockerfile: ./Dockerfile.test.runner
    environment:
      - WAIT_BEFORE_HOSTS=3
      - WAIT_HOSTS=proxy:3000,agent_alice:4011,agent_bob:4012,external_mediator:4013
      - WAIT_HOSTS_TIMEOUT=60
      - WAIT_SLEEP_INTERVAL=1
      - WAIT_HOST_CONNECT_TIMEOUT=30
      - PROXY=http://proxy:3000
      - AGENT_ALICE=http://agent_alice:4001
      - AGENT_BOB=http://agent_bob:4002
      - EXTERNAL_MEDIATOR=http://external_mediator:4003
    depends_on:
      - proxy
      - agent_alice
      - agent_bob
      - external_mediator
      - reverse-proxy
